body {
    font-family: monospace;
}

header {
    padding: .5%;
    font-size: 160%;
}

#timer {
    float: right;
}

a {
    text-decoration: none;
    color: rgb(75, 156, 211);
}

#start-btn {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-size: 175%;
    border-radius: 13px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(75, 156, 211);
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
}