body {
    padding: .5%;
    font-family: monospace;
    font-size: 150%;
}

#wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    width: 500px;
    height: 700px;
}

#startTime {
    background-color: rgb(75, 156, 211);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    border: 2px solid black;
}

#questionsDiv {
    text-align: center;
}

#questionsDiv ul li {
    border: 2px solid black;
    border-radius: 30px 30px;
    line-height: 150%;
    margin: 3%;
}

#currentTime {
    float: right;
}

#goBack {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(75, 156, 211);
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 5%;
    width: auto;
    border: 2px solid black;
}

#highScore {
    border: none;
}

#clear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(75, 156, 211);
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    border: 2px solid black;
}

button {
    border-radius: 30px 30px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    cursor: pointer;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: rgb(75, 156, 211);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    border: 2px solid black;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(75, 156, 211);
}

li {
    background-color: rgb(75, 156, 211);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}


/* Media Query max-width: 786px */

@media screen and (max-width: 786px) {
    body {
        max-width: 786px;
    }
    #wrapper {
        position: absolute;
        left: 20%;
    }
    a {
        margin-left: 20%;
    }
    #goBack {
        position: relative;
        left: 55%;
    }
    #clear {
        position: relative;
        right: 5%;
    }
}


/* Media Query max-width: 640px */

@media screen and (max-width: 640px) {
    body {
        min-width: 640px;
    }
    #wrapper {
        position: absolute;
        left: 10%;
    }
    a {
        margin-left: 10%;
    }
}